.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1062px;
}

.u-section-1 .u-shape-1 {
  width: 3764px;
  height: 41px;
  margin: -20px auto 0 -1221px;
}

.u-section-1 .u-text-1 {
  font-size: 12.875rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 40px rgba(32,146,97,0.6);
  animation-duration: 1000ms;
  width: 575px;
  margin: 253px auto 0;
}

.u-section-1 .u-text-2 {
  width: 198px;
  animation-duration: 1000ms;
  margin: -60px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  animation-duration: 1000ms;
  margin: 32px auto 60px;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 183px;
    margin-right: 183px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 372px;
    margin-left: 371px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 73px;
    margin-right: 73px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 262px;
    margin-left: 261px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
    margin-left: auto;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 10.3125rem;
    width: auto;
    margin-top: 0;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -19px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 26px;
    margin-bottom: 55px;
  }
}