.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 198px;
}

.u-section-1 .u-shape-1 {
  width: 3233px;
  height: 41px;
  margin: -21px auto 0 -707px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 31px rgba(255,255,255,0.75);
  animation-duration: 1000ms;
  margin: 44px 357px 0 363px;
}

.u-section-1 .u-shape-2 {
  width: 50px;
  height: 50px;
  animation-duration: 1000ms;
  margin: -70px auto 0 345px;
}

.u-section-1 .u-shape-3 {
  width: 60px;
  height: 60px;
  animation-duration: 1000ms;
  margin: -17px auto 0 735px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  animation-duration: 1000ms;
  text-decoration: underline !important;
  margin: 12px 357px 26px 363px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: 421px;
    margin-right: 315px;
    margin-left: 204px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 286px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 676px;
  }

  .u-section-1 .u-text-2 {
    width: 421px;
    margin-right: 315px;
    margin-left: 204px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 94px;
    margin-right: 205px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 20px;
    margin-left: 342px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 205px;
    margin-left: 342px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 4px;
    margin-right: 115px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 115px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 146px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -470px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 1606px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 290px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: 3551px 0 30px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 768px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-bottom: 0;
  margin-top: 32px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 14px 14px;
  min-height: 640px;
}

.u-section-2 .u-list-item-1 {
  background-position: 50% 50%;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6));
  background-position: 0% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 25px 30px 18px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 217px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 0 112px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 166px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 0 156px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 200px;
  margin: 412px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 7px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 24px auto 32px 496px;
  padding: 8px 17px 8px 15px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 172px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: -142px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 296px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 76px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1713px;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 100px 100px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 14px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 202px;
}

.u-section-3 .u-shape-1 {
  width: 5261px;
  height: 51px;
  margin: -19px auto 0 -2216px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  width: 419px;
  margin: 18px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px auto;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-shape-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-shape-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }
}