.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 257px;
}

.u-section-1 .u-shape-1 {
  width: 3764px;
  height: 41px;
  margin: -27px auto 0 -1237px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 31px rgba(255,255,255,0.75);
  animation-duration: 1000ms;
  margin: 42px 305px 0 297px;
}

.u-section-1 .u-shape-2 {
  width: 50px;
  height: 50px;
  animation-duration: 1000ms;
  margin: -64px auto 0 297px;
}

.u-section-1 .u-shape-3 {
  width: 50px;
  height: 48px;
  animation-duration: 1000ms;
  margin: -18px auto 0 793px;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 14px 347px 44px 339px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: 421px;
    margin-right: 372px;
    margin-left: 147px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 147px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 743px;
  }

  .u-section-1 .u-text-2 {
    width: 455px;
    margin-right: 296px;
    margin-left: 189px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 256px;
    margin-left: 44px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 44px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 627px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 180px;
    margin-left: 86px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 119px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 0;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 490px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 46px;
    margin-left: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: -500px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 2042px;
    margin-left: -16px;
    margin-right: -16px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -25px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 290px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: 5338px 0 31px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 606px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 9.33333px);
  grid-template-columns: calc(33.3333% - 9.33333px) calc(33.3333% - 9.33333px) calc(33.3333% - 9.33333px);
  grid-gap: 14px 14px;
  min-height: 463px;
}

.u-section-2 .u-list-item-1 {
  background-position: 50% 50%;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6));
  background-position: 50% 0%;
}

.u-section-2 .u-container-layout-1 {
  padding: 25px 30px 18px;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 185px 28px 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6));
  background-position: 0% 100%;
}

.u-section-2 .u-container-layout-2 {
  padding: 25px 30px 18px;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 185px 28px 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-position: 50% 50%;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6));
  background-position: 0% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 25px 30px 18px;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 185px 28px 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 20px auto 0 134px;
  padding: 8px 28px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -41px auto 0;
  padding: 8px 28px;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px 134px 0 auto;
  padding: 8px 28px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1rem;
  text-decoration: underline !important;
  margin: 12px 930px 0 160px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1rem;
  text-decoration: underline !important;
  margin: -19px 545px 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1rem;
  text-decoration: underline !important;
  margin: -19px 161px 33px 930px;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 9.33333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 9.33333px));
    min-height: 382px;
  }

  .u-section-2 .u-text-1 {
    width: 200px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
    width: 200px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
    width: 200px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 291px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 830px;
    margin-left: 60px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 445px;
    margin-left: 445px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 61px;
    margin-left: 830px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 6.9999975px);
    grid-template-columns: repeat(2, calc(50% - 6.9999975px));
    min-height: 878px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 140px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 670px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 335px;
    margin-left: 335px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 671px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 490px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 245px;
    margin-left: 245px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 491px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1715px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-gap: 100px 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -1096px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 516px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 519px;
    margin-right: auto;
  }

  .u-section-2 .u-text-7 {
    width: 50px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-8 {
    width: 50px;
    margin-top: -570px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-9 {
    width: 50px;
    margin: -575px auto 60px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 801px;
}

.u-section-3 .u-shape-1 {
  width: 3098px;
  height: 51px;
  margin: -20px auto 0 -1344px;
}

.u-section-3 .u-shape-2 {
  width: 644px;
  height: 683px;
  margin: 9px auto 0 -46px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -622px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 599px;
  animation-duration: 750ms;
}

.u-section-3 .u-image-1 {
  background-position: 0% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 35px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 599px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 40px 20px 106px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 9px 27px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 25px 9px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 100px 161px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-3 .u-shape-1 {
    width: 940px;
    margin-top: -29px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 552px;
    height: 585px;
    margin-top: 18px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -524px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 494px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 494px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-3 .u-shape-1 {
    width: 720px;
    margin-top: 355px;
  }

  .u-section-3 .u-shape-2 {
    width: 434px;
    height: 460px;
    margin-top: -217px;
    margin-left: -50px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -419px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0 30px 0 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 83px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-3 .u-shape-1 {
    width: 540px;
    margin-top: 599px;
  }

  .u-section-3 .u-shape-2 {
    width: 614px;
    height: 651px;
    margin-top: -590px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 480px;
    margin-top: -597px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 499px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 138px 10px 13px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1041px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    margin-top: -1032px;
  }

  .u-section-3 .u-shape-2 {
    height: 351px;
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 281px;
    margin-top: -317px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 283px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 689px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 85px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 69px;
    margin-right: auto;
  }
}